# Coding for Economists - Session 5

***

In [ ]:
%conda install scipy scikit-learn statsmodels -y

In [ ]:
# Create a JSON object.
data = {
  "pets": [
    {
      "type": "dog",
      "name": "Buddy",
      "age": 5,
      "vaccinations": ["rabies", "distemper", "parvovirus"],
      "owner": {
        "name": "Alice",
        "contact": "alice@example.com"
      }
    },
    {
      "type": "cat",
      "name": "Whiskers",
      "age": 3,
      "vaccinations": ["feline distemper", "rabies"],
      "owner": {
        "name": "Bob",
        "contact": "bob@example.com"
      }
    },
    {
      "type": "parrot",
      "name": "Polly",
      "age": 2,
      "vaccinations": [],
      "owner": {
        "name": "Charlie",
        "contact": "charlie@example.com"
      }
    }
  ]
}

In [ ]:
data['pets'][1]

In [ ]:
data['pets'][1]['name']

***

## 1. Pandas Basics

In [ ]:
import pandas as pd
import numpy as np

### Pandas Series (<span style="color: green;">mixed-type</span>, <span style="color: blue;">mutable</span>)
- Supports labels (row names)
- Automatically match labels when creating a data frame
- Please pay attention to __alias__.

In [ ]:
data = pd.Series([1, 2, np.nan, 'a'], index = ['A', 'B', 'C', 'D'])
data

### Pandas DataFrame (<span style="color: green;">mixed-type</span>, <span style="color: blue;">mutable</span>, ideal for data manipulation)
- Works swiftly with most data manipulation, analysis, and visualization tools.
- Data structure is similar to spreadsheet and Stata. Easy to read.
- Please pay attention to __alias__.

- __Create pd.DataFrame__

In [ ]:
# Create using a dictionary
pets = pd.DataFrame(
    {
        'Type': ['rabbit', 'fish', 'cat', 'dog'],
        'Name': ['Meatball', 'Flash', 'Coco', 'Fluffy'],
        'Age': np.random.randint(0, 10, size=(4)),
        'Last_visit': pd.date_range('20250210', periods = 4)
    }
)
pets

In [ ]:
# Create using a np.arrapy
daily_return = pd.DataFrame(
    np.random.randn(10, 4),
    index = pd.date_range('20250210', periods = 10),
    columns = ['AAPL', 'GOOG', 'META', 'NVDA']
)
daily_return.head()

In [ ]:
daily_return.tail()

In [ ]:
daily_return.shape

In [ ]:
print(daily_return.columns)
print(daily_return.index)

- __Describe__ `.describe()`

In [ ]:
# Describe data frame
daily_return.describe()

- __Indexing__ `.iloc[]`, `.loc[]`, `.at[]`, `.iat[]`, `.COLNAME`, and `[]`

In [ ]:
# Create using a dictionary
pets = pd.DataFrame(
    {
        'Type': ['rabbit', 'fish', 'cat', 'dog'],
        'Name': ['Meatball', 'Flash', 'Coco', 'Fluffy'],
        'Age': np.random.randint(0, 10, size=(4)),
        'Last_visit': pd.date_range('20250210', periods = 4)
    }
)

# Selection by position using .iloc[]   (indices in [] must be integers or :)
print(pets.iloc[3, 1])

# Selection by label using .loc[]   (indices in [] must be row\column names or :)
print(pets.loc[3, 'Name'])

# Get single value by position using .at[] (indices in [] must be integers)
print(pets.iat[3, 1])

# Get single value by label using .at[] (indices in [] must be row\column names)
print(pets.at[3, 'Name'])

# Selection using .COLNAME
print(pets.Name[3])

# Selection using []
print(pets['Name'][3])

In [ ]:
# Boolean indexing
pets[pets['Age'] > 2]

- __Editing Values__

In [ ]:
# Edit a single value
pets.iloc[3, 0] = 'parrot'
pets.loc[3, 'Name'] = 'Polly'
pets.at[3, 'Age'] = 35
pets

In [ ]:
# Edit multiple values
pets.iloc[1,:3] = ['hamster', 'Buttercup', 3]
pets

In [ ]:
# Edit a column
pets['Age'] = np.random.randint(0, 10, size=(4))
pets

In [ ]:
# Edit using a boolean condition
pets.loc[pets['Last_visit'] < '2025-02-12', 'Last_visit'] = pd.to_datetime('2000-01-01')
pets

- __Adding Columns and Rows__

In [ ]:
# Create a DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

# Add a new column 'C'
df['C'] = [7, 8, 9]
print("After adding column 'C':")
print(df)

In [ ]:
# Remove the column 'B'
df_drop_col = df.drop('B', axis = 1)
print("\nAfter removing column 'B':")
print(df_drop_col)

In [ ]:
# Add a new row
df.loc[3] = [10, 11, 12]
print("\nAfter adding a new row with loc:")
print(df)

In [ ]:
# Remove the first fow
df_drop_row = df.drop(0, axis = 0)
print("\nAfter removing the first row:")
print(df_drop_row)

- __Merging DataFrames by a Column__

In [ ]:
# Create two DataFrames with a common column 'key'
df1 = pd.DataFrame({
    'key': ['A', 'B', 'C', 'D'],
    'value1': [1, 2, 3, 4]
})

df2 = pd.DataFrame({
    'key': ['B', 'D', 'E', 'F'],
    'value2': [5, 6, 7, 8]
})

# Merge the DataFrames on 'key'
# how = ['inner', 'outer', 'left', 'right']
merged_df = pd.merge(df1, df2, on='key', how='left')
print("Merged DataFrame using pd.merge():")
print(merged_df)

- __Joining DataFrames by labels (row names)__

In [ ]:
# Create two DataFrames with indexes
df1 = pd.DataFrame({'value1': [1, 2, 3]}, index=['A', 'B', 'C'])
df2 = pd.DataFrame({'value2': [4, 5, 6]}, index=['A', 'B', 'D'])

# Join the DataFrames on the index
joined_df = df1.join(df2, how='left')
print("\nJoined DataFrame using df.join():")
print(joined_df)

- __Concating DataFrames__

In [ ]:
# Create two DataFrames with the same columns
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Concatenate vertically
vertical_concat = pd.concat([df1, df2], axis=0)
print("\nVertical Concatenation using pd.concat():")
print(vertical_concat)

# Concatenate horizontally
vertical_concat = pd.concat([df1, df2], axis=1)
print("\nHorizontal Concatenation using pd.concat():")
print(vertical_concat)

- __Copy on Write__

`pd.options.mode.copy_on_write = True`

In [ ]:
# Create a data frame
pets = pd.DataFrame(
    {
        'Type': ['rabbit', 'fish', 'cat', 'dog'],
        'Name': ['Meatball', 'Flash', 'Coco', 'Fluffy'],
        'Age': np.random.randint(0, 10, size=(4)),
        'Last_visit': pd.date_range('20250210', periods = 4)
    }
)

# Create an alias
pets_new = pets['Type']
pets_new.iat[0] = 'tiger'
pets

In [ ]:
# Create a data frame
pets = pd.DataFrame(
    {
        'Type': ['rabbit', 'fish', 'cat', 'dog'],
        'Name': ['Meatball', 'Flash', 'Coco', 'Fluffy'],
        'Age': np.random.randint(0, 10, size=(4)),
        'Last_visit': pd.date_range('20250210', periods = 4)
    }
)

# Turn on copy on write
pd.options.mode.copy_on_write = True

# Create an copy
pets_new = pets['Type']
pets_new.iat[0] = 'tiger'
pets

## 2. Data Cleaning

- __Filtering__ `.filter()`

In [ ]:
# Create a sample DataFrame
data = pd.DataFrame({
    'A_score': [90, 85, 92],
    'B_score': [88, 79, 95],
    'C_age': [25, 30, 22],
    'A_income': [50000, 60000, 55000],
    'D_grade': ['A', 'B', 'A']
})
data

In [ ]:
# Filter the rows
data[data['D_grade'] == 'A']

In [ ]:
# Filter the columns that contain a string
data.filter(like = 'score')

In [ ]:
# Filter the columns using regular expression 
data.filter(regex = '^A_')

__<span style="color: blue;">Regular Expression Cheat Sheet</span>:__ https://cheatography.com/davechild/cheat-sheets/regular-expressions/

- __Reshaping__ `.melt()` and `.pivot()`

In [ ]:
# Create a sample wide formatDataFrame
data = pd.DataFrame(
    {
    'ID': [1, 2, 3],
    'year_2019': [10, 20, 30],
    'year_2020': [15, 25, 35]
}
)
print("Wide Format DataFrame:")
data

In [ ]:
# Reshape from wide to long format using melt
data_long = pd.melt(data, 
                  id_vars=['ID'],            # columns to keep fixed
                  var_name='Year',           # name of the new variable column
                  value_name='Value')        # name of the values column
print("\nLong Format DataFrame:")
data_long

In [ ]:
# Pivot the long DataFrame back to wide format using pivot
data_wide = data_long.pivot(index='ID', columns='Year', values='Value')
data_wide.reset_index(inplace=True)  # to bring 'ID' back as a column
print("\nPivoted back to Wide Format DataFrame:")
data_wide

- __Stacking__ `.stack()` and `.unstack()`

In [ ]:
# Create a sample DataFrame
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8]
}

index = pd.date_range('20250218', periods = 4)

df = pd.DataFrame(data, index=index)

print("Original DataFrame:")
print(df)

In [ ]:
# Stack the DataFrame: turn columns into a new level of the index
stacked = df.stack()
print("\nStacked DataFrame (Series with a MultiIndex):")
print(stacked)

In [ ]:
# Index a multiindex dataframe 
print(stacked.loc[('2025-02-18')])
print(stacked.loc[('2025-02-18', 'B')])

In [ ]:
# Transform multiindex into columns
stacked_col = stacked.reset_index()
stacked_col.columns = ['time', 'unit', 'value']
stacked_col

In [ ]:
# Transform columns into multiindex
stacked_index = stacked_col.set_index(['time', 'unit'])
stacked_index

In [ ]:
# Unstack the previously stacked Series to get back to the original DataFrame
unstacked = stacked_index.unstack()

# This will remove the first level and leave only the second level as the new column names
unstacked.columns = unstacked.columns.droplevel(0)
unstacked.columns.name = None
unstacked.index.name = None

print("\nUnstacked DataFrame:")
print(unstacked)

- __Manipulate Numeric Columns__

In [ ]:
# Create a sample DataFrame
data = pd.DataFrame({
    'price': [100, 150, 200, 250],
    'quantity': [10, 20, 30, 40]
})

print("Original DataFrame:")
print(data)

In [ ]:
# Math operations
data['total_value'] = data['price']*data['quantity']
data['log_price'] = np.log(data['price'])
data['sqrt_price'] = np.sqrt(data['price'])
data['sq_quantity'] = np.power(data['quantity'], 2)
data['exp_quantity'] = np.exp(data['quantity'])

# Standardization
data['z_price'] = (data['price'] - data['price'].mean()) / data['price'].std()
data['minmax_price'] = (data['price'] - data['price'].min()) / (data['price'].max() - data['price'].min())

# create variable using .apply
data['price_category'] = data['price'].apply(lambda x: 'high' if x >= 200 else 'low')
data

> __Other Methods:__
> - Absolute Value: `np.abs()`
> - Round: `np.round()`
> - First Difference: `data['col'].diff()`
> - Percentage Change: `data['col'].pct_change()`
> - Cumulative Sum: `data['col'].cumsum()`
> - Cumulative Product: `data['col'].cumprod()`,

- __Manipulate String Columns__

In [ ]:
# Create a sample DataFrame with string columns
data = pd.DataFrame({
    'Name': [' Alice ', 'BOB', 'Charlie', 'david'],
    'Email': ['Alice@example.com', 'Bob@EXAMPLE.com', 'charlie@example.org', 'DAVID@example.net'],
    'Info': ['age: 25; city: New York', 'age:30;city:Los Angeles', 'age: 35; city: Chicago', 'age:40; city:Houston']
})
print("Original DataFrame:")
print(data)

In [ ]:
# Convert strings to lowercase and uppercase
data['Name_lower'] = data['Name'].str.lower()
data['Email_upper'] = data['Email'].str.upper()

# Remove leading/trailing whitespace
data['Name_stripped'] = data['Name'].str.strip()

# Replace or remove substrings
# Remove the domain from Email addresses
data['Email_no_domain'] = data['Email'].str.replace(r'@.*', '', regex=True)

# Splitting strings
# Split 'Info' column on semicolon and expand into separate columns
data[['Info_part1', 'Info_part2']] = data['Info'].str.split(';', expand=True)

# Extract patterns using regex
# Extract the age number from the Info column
data['Age'] = data['Info'].str.extract(r'age:\s*(\d+)', expand=False).astype(int)

# Concatenate string columns
# Combine the stripped Name and Email_no_domain into a new identifier column
data['Identifier1'] = data['Name_stripped'] + '_' + data['Email_no_domain']
data['Identifier2'] = data['Name_stripped'].str.cat(data['Email_no_domain'], sep="_", na_rep="-")

data

> __Other Methods:__
> - Length: `data['col'].str.len()`
> - Stripe Whitespaces: `data['col'].str.strip()`, `data['col'].str.lstrip()`, `data['col'].str.rstrip()`
> - Remove prefix/suffix: `data['col'].str.removeprefix('str_')`, `data['col'].str.removesuffix('_str')`
> - Contain: `data['col'].str.contain('str')`
> - Match: `data['col'].str.match('str')`

- __Handle Duplicates__

In [ ]:
# Create a Sample DataFrame
data = pd.DataFrame({
    'A': [1, 2, 2, 3, 4, 4, 4],
    'B': ['x', 'y', 'y', 'z', 'w', 'w', 'w']
})
print("Original DataFrame:")
data

In [ ]:
# Detect duplicate rows (by default, it marks all rows except the first occurrence as duplicates)
duplicates = data.duplicated()
print("\nBoolean Series indicating duplicates:")
print(duplicates)

In [ ]:
# Remove duplicates and keep the first occurrence
data_no_duplicates = data.drop_duplicates()
print("\nDataFrame after dropping duplicates:")
print(data_no_duplicates)

- __Handle Outliers__

In [ ]:
# Sample DataFrame
data = pd.DataFrame({
    'value': [10, 12, 15, 14, 18, 200, 13, 15, 16, 100]
})
data

In [ ]:
## The IQR Method
# Calculate Q1, Q3, and IQR
Q1 = data['value'].quantile(0.25)
Q3 = data['value'].quantile(0.75)
IQR = Q3 - Q1

# Define outlier bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detect outliers
outliers = data[(data['value'] < lower_bound) | (data['value'] > upper_bound)]
print("Outliers detected using IQR method:")
print(outliers)

In [ ]:
# Handling outliers:
# Option A: Investigate the reason and fix the outliers

# Option B: Drop outliers
data_no_outliers = data[(data['value'] >= lower_bound) & (data['value'] <= upper_bound)]
print("\nDataFrame after dropping outliers:")
print(data_no_outliers)

# Option C: Cap outliers (Winsorization)
data['value_capped'] = data['value'].clip(lower=lower_bound, upper=upper_bound)
print("\nDataFrame with outliers capped:")
print(data)

In [ ]:
## The Z-score Method
# Sample DataFrame
data = pd.DataFrame(
    np.random.randn(50, 1),
    columns = ['value']
)
data.iat[3,0] = 99999

# Calculate mean and standard deviation
mean_val = data['value'].mean()
std_val = data['value'].std()

# Compute z-scores
data['z_score'] = (data['value'] - mean_val) / std_val

# Detect outliers: typically |z| > 3
outliers_z = data[np.abs(data['z_score']) > 3]
print("Outliers detected using z-scores:")
print(outliers_z)

In [ ]:
# Handling outliers:
# Option A: Investigate the reason and fix the outliers

# Option B: Remove outliers
data_no_outliers_z = data[np.abs(data['z_score']) <= 3].copy()
print("\nDataFrame after dropping outliers based on z-scores:")
data_no_outliers_z.head()

In [ ]:
# Option C: Replace extreme values with boundary values
data['value_capped'] = np.where(
    data['z_score'] > 3,
    mean_val + 3 * std_val,
    np.where(data['z_score'] < -3, mean_val - 3 * std_val, data['value'])
)
print("\nDataFrame with capped values based on z-scores:")
data[['value', 'value_capped']].head()

## 3. Missing Data
  - __MCAR__: Listwise Deletion, Fill Mean
  - __MAR__: KNN Imputation, Multiple Imputation
  - __MNAR__: More Data, Selection Models

### MCAR Test

In [ ]:
# Little's MCAR Test (NULL hypothesis: missing data are MCAR)
import numpy as np
import pandas as pd
from scipy import stats

def little_mcar_test(data):
    """
    Perform Little's MCAR test on a pandas DataFrame.
    
    Parameters:
        data (pd.DataFrame): The dataset to test.
        
    Returns:
        test_stat (float): The computed test statistic.
        df_total (int): Total degrees of freedom.
        p_value (float): p-value for the test.
    """
    # Create a boolean DataFrame indicating missingness
    missing = data.isnull()
    
    # Identify unique missingness patterns as tuples
    pattern_keys = missing.drop_duplicates().apply(lambda row: tuple(row), axis=1)
    
    # Map each row in the data to its missingness pattern (as a tuple)
    group_indices = {}
    for idx, row in missing.iterrows():
        pattern = tuple(row)
        group_indices.setdefault(pattern, []).append(idx)
        
    overall_means = data.mean()
    test_stat = 0.0
    df_total = 0
    
    # Loop over each missingness pattern group
    for pattern, indices in group_indices.items():
        group_data = data.loc[indices]
        # Determine which columns are observed (i.e. not missing) in this pattern
        observed_cols = [col for col, missing_flag in zip(data.columns, pattern) if not missing_flag]
        n_group = len(group_data)
        # Only consider groups with at least one observed variable
        if n_group == 0 or len(observed_cols) == 0:
            continue
        # Mean for this group (only for observed variables)
        group_mean = group_data[observed_cols].mean()
        # Covariance matrix for the observed variables in this group
        group_cov = group_data[observed_cols].cov()
        # Difference between group means and overall means for the observed variables
        diff = group_mean - overall_means[observed_cols]
        
        # Compute the inverse of the covariance matrix; if singular, use pseudo-inverse
        try:
            inv_cov = np.linalg.inv(group_cov)
        except np.linalg.LinAlgError:
            inv_cov = np.linalg.pinv(group_cov)
        
        # Compute the quadratic form for the test statistic contribution of this group
        stat = n_group * diff.T.dot(inv_cov).dot(diff)
        test_stat += stat
        
        # Degrees of freedom is the number of observed variables for this pattern
        df_total += len(observed_cols)
    
    p_value = 1 - stats.chi2.cdf(test_stat, df_total)
    return test_stat, df_total, p_value

# -------------------------
# Example usage:
# -------------------------
np.random.seed(0)

# Create a sample dataset with three variables.
data = pd.DataFrame({
    'x': np.random.randn(100),
    'y': np.random.randn(100),
    'z': np.random.randn(100)
})

# Introduce missingness completely at random (MCAR) in 'y'
mask = np.random.rand(100) < 0.3  # 30% missing at random
data.loc[mask, 'y'] = np.nan

# Run Little's MCAR test
test_stat, df_val, p_val = little_mcar_test(data)
print("Little's MCAR test statistic:", test_stat)
print("Degrees of freedom:", df_val)
print("p-value:", p_val)

In [ ]:
# Find the missing values
data.isna()

### Listwise Deletion (Drop missing data)

In [ ]:
# Create a Data Frame
np.random.seed(0)

# Create a sample dataset with three variables.
data = pd.DataFrame({
    'x': np.random.randn(100),
    'y': np.random.randn(100),
    'z': np.random.randn(100)
})

# Introduce missingness completely at random (MCAR) in 'y'
mask = np.random.rand(100) < 0.3  # 30% missing at random
data.loc[mask, 'y'] = np.nan
data.head()

In [ ]:
# Drop the rows with missing data
data_drop_row = data.dropna()
data_drop_row.head()

In [ ]:
# Drop the columns with missing data
data_drop_row = data.dropna(axis = 1)
data_drop_row.head()

### Fill Mean

In [ ]:
# Create a Data Frame
data = pd.DataFrame(
    {
        'A': [1, 2, np.nan, 5, 6, 7],
        'B': [0.25, np.nan, np.nan, 3, 10, 15]
    }
)
data

In [ ]:
# Fill missing values with column means
data.fillna(data.mean())

### Fill Forward/backward

In [ ]:
# Create a Data Frame
data = pd.DataFrame(
    {
        'A': [1, 2, np.nan, 5, 6, 7],
        'B': [0.25, np.nan, np.nan, 3, 10, 15]
    }
)
data

In [ ]:
# Fill forward
data.ffill()

In [ ]:
# Fill backward
data.bfill()

### Interpolation

In [ ]:
# Create a Data Frame
data = pd.DataFrame(
    {
        'A': [1, 2, np.nan, 5, 6, 7],
        'B': [0.25, np.nan, np.nan, 3, 10, 15]
    }
)
data

In [ ]:
data.interpolate()

### K-Nearest Neighbors (KNN) Imputation

In [ ]:
from sklearn.impute import KNNImputer
# Create a sample DataFrame with missing values
data = pd.DataFrame(
    {
    'age': [25, np.nan, 30, 22, np.nan, 28, 35],
    'income': [50000, 60000, np.nan, 52000, 58000, np.nan, 75000]
    }
)
print("Original DataFrame:")
data

In [ ]:
# Initialize the KNNImputer with k=2 neighbors and uniform weighting
imputer = KNNImputer(n_neighbors=2, weights="uniform")

# Fit the imputer on X and transform the data
data_imputed = imputer.fit_transform(data)

# Transform to pd.DataFrame
data_imputed = pd.DataFrame(data_imputed)

print('Imputed DataFrame')
data_imputed

### Multiple Imputation

In [ ]:
from statsmodels.imputation.mice import MICEData

# Create a simple DataFrame with missing values
data = pd.DataFrame(
    {
    'age': [25, np.nan, 30, 22, np.nan, 28, 35],
    'income': [50000, 60000, np.nan, 52000, 58000, np.nan, 75000]
    }
)
print("Original Data:")
print(data)

# Initialize MICEData instance for multiple imputation
mice_data = MICEData(data)

# Generate multiple imputed datasets
imputed_datasets = []
num_imputations = 5  # number of imputed datasets to generate

for i in range(num_imputations):
    # Update imputed values for all missing entries (one MICE iteration)
    mice_data.update_all()
    # Store a copy of the complete dataset
    imputed_datasets.append(mice_data.data.copy())

# Display one of the imputed datasets
print("\nOne of the imputed datasets:")
print(imputed_datasets[1])

__Work with Multiple Imputed Data__
- Perform analysis independently on each imputed dataset.
- Pool the results using Rubin's Rules: https://bookdown.org/mwheymans/bookmi/rubins-rules.html